body {
	margin:0;
	padding: 0;
	background-color: #000;
	color: #00ff00;
	font-family: 'Courier New', monospace;
	text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
	overflow: hidden;
	position: relative;
}

.logo-frogindev {
	font-size: 0.2rem;
}


.column-terminal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 12.5dvh;
	left: 0.85dvw;
}
.column-terminal-span {
	font-size: 2rem;
}

.column-start {
	display: flex;
	flex-direction: column;
}

.terminal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	border: 0.5rem solid #00ff00;
	animation: start-computer 0.7s forwards ease-in-out, flicker 1s infinite;
	position: relative;
	overflow: hidden;
}

.terminal.no-border {border: none !important;}

.blink {animation: blink 1s steps(2, start) infinite;}

.scanlines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		rgba(0, 255, 0, 0.05) 0px,
		rgba(0, 255, 0, 0.1) 2px,
		rgba(0, 255, 0, 0.05) 4px
	);
	pointer-events: none;
	mix-blend-mode: overlay;
	z-index: 2;
}

.table-configuration {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	border: 5px solid #00ff00;
	width: 98dvw;
	height: 36dvh;
}

@keyframes blink {to { visibility: hidden; }}

@keyframes start-computer {
	0% { transform: scale(0.000, 0.0001); filter: brightness(50); }
	60% { transform: scale(1.3, 0.001); filter: brightness(10); }
	100% { transform: scale(1,1.3); filter: brightness(1); opacity: 1; }
}


 @keyframes flicker {
	0%, 100% {opacity: 1;}
	10% {opacity: 0.9;}
	20% {opacity: 1;}
	30% {opacity: 0.8;}
	40% {opacity: 1;}
	50% {opacity: 0.95;}
	60% {opacity: 1;}
	70% {opacity: 0.85;}
	80% {opacity: 1;}
	90% {opacity: 0.9;}
}
